:root {
    --links: #6679cc; /* Always applied */
}

code { background: none; }

.highlight > code {
  background: var(--background);
}

.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight, .highlight .w {
  color: #444444;
}
.highlight .cp {
  color: #CC00A3;
}
.highlight .cs {
  color: #CC00A3;
}
.highlight .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cpf, .highlight .c1 {
  color: #FF0000;
}
.highlight .ge {
  font-style: italic;
}
.highlight .ges {
  font-weight: bold;
  font-style: italic;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .kc {
  color: #C34E00;
}
.highlight .kd {
  color: #0000FF;
}
.highlight .kr {
  color: #007575;
}
.highlight .k, .highlight .kn, .highlight .kp, .highlight .kt, .highlight .kv {
  color: #0000FF;
}
.highlight .s, .highlight .sb, .highlight .sc, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx, .highlight .sr, .highlight .s1, .highlight .ss {
  color: #009C00;
}
.highlight .sa {
  color: #0000FF;
}
.highlight .nb, .highlight .bp {
  color: #C34E00;
}

@media (prefers-color-scheme: dark) {
    :root {
      --background-body: #1a1b26;
      --background: #24283b;
      --text-main: #c0caf5;
      --links: #7aa2f7;
    }
    
    .highlight table td { padding: 5px; }
    .highlight table pre { margin: 0; }
    .highlight, .highlight .w {
        color: #fbf1c7;
        background-color: #282828;
    }
    .highlight .err {
        color: #fb4934;
        background-color: #282828;
        font-weight: bold;
    }
    .highlight .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cpf, .highlight .c1, .highlight .cs {
    color: #928374;
    font-style: italic;
    }
    .highlight .cp {
    color: #8ec07c;
    }
    .highlight .nt {
    color: #fb4934;
    }
    .highlight .o, .highlight .ow {
    color: #fbf1c7;
    }
    .highlight .p, .highlight .pi {
    color: #fbf1c7;
    }
    .highlight .gi {
    color: #b8bb26;
    background-color: #282828;
    }
    .highlight .gd {
    color: #fb4934;
    background-color: #282828;
    }
    .highlight .gh {
    color: #b8bb26;
    font-weight: bold;
    }
    .highlight .ge {
    font-style: italic;
    }
    .highlight .ges {
    font-weight: bold;
    font-style: italic;
    }
    .highlight .gs {
    font-weight: bold;
    }
    .highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
    color: #fb4934;
    }
    .highlight .kc {
    color: #d3869b;
    }
    .highlight .kt {
    color: #fabd2f;
    }
    .highlight .kd {
    color: #fe8019;
    }
    .highlight .s, .highlight .sb, .highlight .sc, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
    color: #b8bb26;
    font-style: italic;
    }
    .highlight .si {
    color: #b8bb26;
    font-style: italic;
    }
    .highlight .sr {
    color: #b8bb26;
    font-style: italic;
    }
    .highlight .sa {
    color: #fb4934;
    }
    .highlight .se {
    color: #fe8019;
    }
    .highlight .nn {
    color: #8ec07c;
    }
    .highlight .nc {
    color: #8ec07c;
    }
    .highlight .no {
    color: #d3869b;
    }
    .highlight .na {
    color: #b8bb26;
    }
    .highlight .m, .highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mx {
    color: #d3869b;
    }
    .highlight .ss {
    color: #83a598;
    }
}

body {
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', sans-serif;
}

pre, code {
    font-family: 'fira code', monospace;
}

.nav > ul {
    list-style: none; /* Removes the default list styling */
    padding: 0;
}
  
.nav > ul li {
    display: inline; /* Makes the list items appear inline */
    position: relative;
}
  
.nav > ul li::after {
    content: "▸"; /* Adds the bullet */
    padding: 0 4px 0 6px; /* Adds space between content and bullet */
}
  
.nav > ul li:last-child::after {
    content: ""; /* Removes the bullet after the last item */
}

.posts > .post {
    margin: 4rem 0;
}

.posts > .post > .title {
  margin: 4rem 0;
}

footer {
    border: 0; 
}